.board-container {
    border: medium solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-content: space-around;
    height: 540px;
}

.board-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}