.box-container {
    background-color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-color: transparent;
    z-index: 0;
}

#box-container-p1 {
    background-color: red;
}

#box-container-p2 {
    background-color: yellow;
}