.box-container {
    background-color: bisque;
    margin: 5px;
    padding: 3px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#box-container-p1 {
    background-color: red;
}

#box-container-p2 {
    background-color: yellow;
}